:host {
  display: block;
  position: relative;

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 800px;
    background: url('../../assets/images/footer-bg-grad.png') bottom center / cover no-repeat;
    z-index: 0;
    pointer-events: none;
  }
}
